<div class="carousel-wrapper">
  @if(slides?.length){
    <button class="nav-btn prev" (click)="swiperInstance.slidePrev()"></button>
  }

  <swiper-container
    #swiperContainer
    class="custom-swiper"
    init="false"
  >
  @for(slide of slides; track $index){
    <swiper-slide
      class="custom-carousel-container"
      [ngClass]="customClass"
      (click)="onSlideClick($index)"
    >
    <div
      aria-hidden="true"
    >
      <div class="img-div">
        <img
          src="{{ slide.image }}"
          appImageError
          alt=""
          [attr.loading]="lazyLoad === false ? null : 'lazy'"
          (error)="directive.errorHandle($event)"
          width="100%"
        />
      </div>

      @if (showTitle) {
        <div class="title-carousel-box">
          <div>{{ slide.title }}</div>
        </div>
      }
      @if (outerTitle || outerDescription) {
        <div
          (click)="detailRedirect(slide.slug)"
          class="related-photos-data-box"
        >
          @if (outerTitle) {
            <div class="related-photos-title">{{ slide.title }}</div>
          }
          @if (slide.author || slide.date) {
            <div class="related-photos-data">
              {{ slide.author }}{{ slide.author && slide.date ? ", " : "" }}
              {{ slide.date }}
            </div>
          }
          @if (outerDescription) {
            <div class="related-photos-data">{{ slide.description }}</div>
          }
        </div>
      }
    </div>
    </swiper-slide>
  }
  </swiper-container>

  @if(slides?.length){
    <button class="nav-btn next" (click)="swiperInstance.slideNext()"></button>
  }
</div>
