@use "mixins" as *;
@use "variables.scss" as *;

.research-data-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  .research-data-list {
    display: flex;
    align-items: stretch;
    background-color: $white;
    width: 49%;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .research-data-img {
      width: 40%;
      height: 250px;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      a {
        height: 100%;
        display: flex;
      }

      img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .research-data {
      width: 60%;
      padding: 30px 20px;
      position: relative;
      @media (max-width: 991px) {
        padding: 15px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .research-data-title {
        color: $dark-blue;
        font-family: "glacial_indifferencebold";
        margin-bottom: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      p {
        margin-bottom: 5px;
        color: $dark-blue;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        color: $dark-blue;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .article-tag {
        min-width: 120px;
        justify-content: center;
        margin-bottom: 25px;
        padding: 3px 10px;
        font-size: var(--base-font-14);

        @media (max-width: 991px) {
          margin-bottom: 20px;
        }
        @media screen and (max-width: 767px) {
          margin: 0 0 0 auto;
        }

        &.yellow-tag {
          background: #ffd406;
          color: $dark-blue;
        }

        &.orange-tag {
          background: #f69f16;
        }

        &.red-tag {
          background: #b42546;
        }

        &.green-tag {
          background: #01a789;
        }
      }
    }
  }
}
.show-more-wrapper {
  button {
    font-family: "glacial_indifferencebold";
    @media (max-width: 1024px) {
      font-family: "glacial_indifferenceregular";
    }
  }
}

.research-top-box {
  padding: 50px 0;
  margin-bottom: 30px;
  @media (max-width: 991px) {
    padding: 10px 0;
    margin-bottom: 20px;
    &.pt-10 {
      padding-top: 10px !important;
      margin-top: 0 !important;
    }
  }
  .page-top-box {
    margin-bottom: 0;
  }
}

.research-top-box .dark-mode {
  background-color: #11212d;
  color: #ffffff;
}

.research-top-box .light-mode {
  background-color: #f5f7ff;
  color: 000000;
}

.research-search-box {
  width: calc(100% - 449px);
  @media (max-width: 1024px) {
    width: 100%;
  }
  .custom-search-box {
    width: 100%;
    margin-bottom: 0;
    .search-icon svg path {
      color: $dark-blue;
    }
  }
}
.w-full {
  width: 100%;
}

@media (max-width: 991px) {
  .mobile-view-filter {
    app-custom-search {
      width: 100%;
    }
  }
}

.custom-filter {
  display: flex;
  gap: 1rem;
}
.custom-search-box {
  app-custom-search {
    @media (max-width: 1024px) {
      width: calc(100% - 152px);
    }
  }
}
.pages-box {
  text-align: end;
  position: absolute;
  right: 10px;
  bottom: 0;
  font-style: italic;
}
.btn-yellow {
  color: $black;
}
.custom-filter-field.bg-gradient
  .mat-mdc-text-field-wrapper
  .mat-mdc-select-placeholder {
  color: $white !important;
}
